*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.topBar {
    width: 100%;
    height: fit-content;
    min-height: 48px;
    background-color: #333;
    background: url("../assets/top-bg.gif") repeat;
}

.principal {
    width: 100%;
    min-height: calc(100vh - 48px);
    background-color: #f0f0f0;
    background: url("../assets/bg.gif") repeat;
}